[build]
publish = "public"
command = "make build-prod"

[context.production.environment]
GO_VERSION = "1.24"
HUGO_VERSION = "0.152.2"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"
GO_IMPORT_PATH = "github.com/sigma/yann.hodique.info"

[context.deploy-preview]
command = "make build-pre"

[context.deploy-preview.environment]
GO_VERSION = "1.24"
HUGO_VERSION = "0.152.2"
GO_IMPORT_PATH = "github.com/sigma/yann.hodique.info"
