{{ partial "header.html" . }}
<div class="body" role="main">
  <div class="unit-body">
    <div class="unit-inner unit-body-inner">
      <div class="entry-content">
        <div class="unit-article layout-page">
          <div class="unit-inner unit-article-inner">
            <div class="content">
              <div class="header">
                <div class="unit-head">
                  <div class="unit-inner unit-head-inner">
                    <h1 class="h2 entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                  </div>
                </div>
              </div>
              <div class="bd">
                <div class="entry-content">
                  {{ .Content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
