	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				<div class="misc vcard">
					<h4>about me</h4>
					<ul>
					  <li class="contact"><a class="author fn n" href="/public/cv"><i class="fa fa-user fa-fw"></i> {{ .Site.Params.AuthorName }}</a></li>
                                          <li class="resume"><a href="{{ .Site.Params.ResumePdf }}"><i class="fa fa-file-pdf-o fa-fw"></i> resume</a></li> 
                                          {{ with .Site.Params.StackExchangeId }}<li class="se"><a href="https://stackexchange.com/users/{{ . }}"><i class="fa fa-stack-exchange fa-fw"></i> stackexchange.com/users/{{ . }}</a></li>{{ end }}
                                          {{ with .Site.Params.LinkedInUser }}<li class="linkedin"><a href="https://www.linkedin.com/in/{{ . }}"><i class="fa fa-linkedin-square fa-fw"></i> linkedin.com/in/{{ . }}</a></li>{{ end }}
                                          {{ with .Site.Params.GitHubUser }}<li class="github"><a href="https://github.com/{{ . }}/" rel="me"><i class="fa fa-github fa-fw"></i> github.com/{{ . }}</a></li>{{ end }}
                                          {{ with .Site.Social.twitter }}<li class="twitter"><a href="https://twitter.com/{{ . }}/" rel="me"><i class="fa fa-twitter fa-fw"></i> twitter.com/{{ . }}</a></li>{{ end }}
                                          {{ with .Site.Social.GooglePlus }}<li class="google"><a href="https://plus.google.com/+{{ . }}/" rel="me"><i class="fa fa-google-plus fa-fw"></i> plus.google.com/+{{ . }}</a></li>{{ end }}
                                          {{ with .Site.Social.keybase }}<li class="keybase"><a href="https://keybase.io/{{ . }}/" rel="me"><i class="fa fa-lock fa-fw"></i> keybase.io/{{ . }}</a></li>{{ end }}
					</ul>
				</div><!-- misc -->
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->
<script>
	(function(d, s) {
		var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.src = url; js.id = id;
		fjs.parentNode.insertBefore(js, fjs);
		};
	load('//platform.twitter.com/widgets.js', 'tweetjs');
	}(document, 'script'));
</script>
<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</body>
</html>
